<template>
  <div id="code-affaires-page">
    <div class="loader" v-if="loading">
      <img src="../../assets/img/loading.svg" alt="loading">
    </div>
    <transition name="fademsg">
      <div class="msg" :class="typemsg" v-if="displaymsg === true">
        <p>{{ msg }}</p>
        <a class="glyphicon glyphicon-remove" @click="closeMsg()"></a>
      </div>
    </transition>
    <h1>Ajout d'un code affaire</h1>
    <div class="add-code-affaire">
      <select id="clientAttachment" name="client" v-model="clientAttachment">
        <option v-for="client in clients" :value="client.id">{{ client.name }}</option>
      </select>
      <input id="codeGS" type="text" name="codeGS" v-model="newCodeGS">
      <input id="codeDG" type="text" name="codeDG" v-model="newCodeDG">
      <!--<input id="newCodeIsValid" type="checkbox" v-model="newCodeIsValid">-->
      <button type="button" class="btn btn-primary" @click="createCodeAffaire()">Ajouter le code affaire</button>
    </div>
    <h1>Listing des codes affaires</h1>
    <div v-for="client in clients">
      <h3>{{ client.name }}</h3>
      <table class="table table-condensed" v-if="client.codeAffaire.length !== 0">
        <thead>
        <tr>
          <th>Code GS</th>
          <th>Code DG</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="codeAffaire in client.codeAffaire">
          <td :class="{editing: codeAffaire === editing && editingValue === 'codeGs'}">
            <p @dblclick="editCodeAffaire(codeAffaire,'codeGs',codeAffaire.codeGs)">{{ codeAffaire.codeGs }}</p>
            <input type="text" class="edit" v-model="codeAffaire.codeGs" @keyup.enter="saveEdit(codeAffaire,'codeGs')"
                   @keyup.esc="cancelEdit('codeGs')" v-focus="codeAffaire === editing  && editingValue === 'codeGs'">
          </td>
          <td :class="{editing: codeAffaire === editing && editingValue === 'codeDg'}">
            <p @dblclick="editCodeAffaire(codeAffaire,'codeDg',codeAffaire.codeDg)">{{ codeAffaire.codeDg }}</p>
            <input type="text" class="edit" v-model="codeAffaire.codeDg" @keyup.enter="saveEdit(codeAffaire,'codeDg')"
                   @keyup.esc="cancelEdit('codeDg')" v-focus="codeAffaire === editing  && editingValue === 'codeDg'">
          </td>
          <td>
            <button type="button" class="btn btn-danger" @click="destroy(codeAffaire)">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
      <div v-else>
        <p>Aucun code affaire pour ce client</p>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'

  export default{
    data () {
      return {
        clients: [],
        oldValueCodeAffaire: '',
        editing: null,
        editingValue: null,
        loading: false,
        clientAttachment: '',
        newCodeGS: '',
        newCodeDG: '',
        newCodeIsValid: true,
        typemsg: '',
        displaymsg: false,
        msg: ''
      }
    },
    methods: {
      createCodeAffaire () {
        this.$rcodeaffaires.save({}, {
          client: this.clientAttachment,
          codeGs: this.newCodeGS,
          codeDg: this.newCodeDG,
          isValid: this.newCodeIsValid
        }).then((response) => {
          let clientAttachment = this.clientAttachment
          this.clients.forEach(function (client) {
            if (client.id === clientAttachment) {
              client.codeAffaire.push(response.data)
              this.clientAttachment = ''
            }
          })
          this.openMsg('success', 'Le code affaire a bien été ajouté')
        }, (response) => {
          this.openMsg('danger', 'Erreur lors de l\'ajout du code affaire')
          return false
        })
        this.newCodeGS = ''
        this.newCodeDG = ''
      },
      editCodeAffaire (codeAffaire, val, fieldValue) {
        this.editing = codeAffaire
        this.editingValue = val
        this.oldValueCodeAffaire = fieldValue
      },
      saveEdit (codeAffaire, field) {
        this.$rcodeaffaires.savecodeaffaire({id: codeAffaire.id}, {
          [field]: codeAffaire[field]
        }).then((response) => {
          this.openMsg('success', 'La modification a bien été enregistré')
        }, (response) => {
          this.openMsg('danger', 'Erreur lors de la modification du code affaire')
          return false
        })
        this.doneEdit()
      },
      cancelEdit (field) {
        this.editing[field] = this.oldValueUser
        this.doneEdit()
      },
      doneEdit () {
        this.editing = null
      },
      openMsg (type, msg) {
        this.displaymsg === true ? this.displaymsg = false : ''
        this.displaymsg = true
        this.typemsg = 'bg-' + type
        this.msg = msg
      },
      closeMsg () {
        this.displaymsg = false
      },
      returnDate (dateObject) {
        let timestamp = dateObject.timestamp
        let d = new Date(timestamp * 1000)
        return d
      },
      destroy (codeAffaire) {
        this.$rcodeaffaires.savecodeaffaire({id: codeAffaire.id}, {
          'isDelete': 1
        }).then((response) => {
          this.clients.forEach(function (client) {
            if (client.id === codeAffaire.client) {
              client.codeAffaire = client.codeAffaire.filter(c => c !== codeAffaire)
            }
          })
          this.openMsg('success', 'Le code affaire a bien été supprimé')
        }, (response) => {
          this.openMsg('danger', 'Erreur lors de la suppression du code affaire')
          return false
        })
      }
    },
    mounted () {
      this.$rclients = this.$resource('clients{/id}', {}, {}, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rcodeaffaires = this.$resource('code-affaires{/id}', {}, {
        savecodeaffaire: {method: 'PATCH', url: 'code-affaires{/id}'}
      }, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rclients.query().then((response) => {
        this.clients = response.data
      }, (response) => {
        return false
      })
    },
    directives: {
      focus (el, value) {
        if (value) {
          Vue.nextTick(_ => {
            el.focus()
          })
        }
      }
    }
  }
</script>

