<template>
  <div id="roles-page">
    <div class="loader" v-if="loading">
      <img src="../../assets/img/loading.svg" alt="loading">
    </div>
    <transition name="fademsg">
      <div class="msg" :class="typemsg" v-if="displaymsg === true">
        <p>{{ msg }}</p>
        <a class="glyphicon glyphicon-remove" @click="closeMsg()"></a>
      </div>
    </transition>
    <h1>Ajout d'un role</h1>
    <div class="add-role">
      <input id="newName" type="text" name="name" v-model="newName">
      <button type="button" class="btn btn-primary" @click="createRole()">Ajouter le rôle</button>
    </div>
    <h1>Listing des roles</h1>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="role in roles">
        <td :class="{editing: role === editing && editingValue === 'name'}">
          <p @dblclick="editRole(role,'name',role.name)">{{ role.name }}</p>
          <input type="text" class="edit" v-model="role.name" @keyup.enter="saveEdit(role,'name')" @keyup.esc="cancelEdit('name')" v-focus="role === editing  && editingValue === 'name'">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import Vue from 'vue'

  export default{
    data () {
      return {
        roles: [],
        oldValueRole: '',
        editing: null,
        editingValue: null,
        loading: false,
        newName: '',
        typemsg: '',
        displaymsg: false,
        msg: ''
      }
    },
    methods: {
      createRole () {
        this.$rroles.save({}, {name: this.newName}).then((response) => {
          this.roles.push(response.data)
          this.openMsg('success', 'Le role ' + response.data.name + ' a bien été ajouté')
        }, (response) => {
          this.openMsg('danger', 'Erreur lors de l\'ajout du role')
          return false
        })
        this.newName = ''
      },
      editRole (role, val, fieldValue) {
        this.editing = role
        this.editingValue = val
        this.oldValueRole = fieldValue
      },
      saveEdit (role, field) {
        this.$rroles.saverole({id: role.id}, {
          [field]: role[field]
        }).then((response) => {
          this.openMsg('success', 'La modification a bien été enregistré')
        }, (response) => {
          this.openMsg('danger', 'Erreur lors de la modification du role')
          return false
        })
        this.doneEdit()
      },
      cancelEdit (field) {
        this.editing[field] = this.oldValueUser
        this.doneEdit()
      },
      doneEdit () {
        this.editing = null
      },
      openMsg (type, msg) {
        this.displaymsg === true ? this.displaymsg = false : ''
        this.displaymsg = true
        this.typemsg = 'bg-' + type
        this.msg = msg
      },
      closeMsg () {
        this.displaymsg = false
      },
      returnDate (dateObject) {
        let timestamp = dateObject.timestamp
        let d = new Date(timestamp * 1000)
        return d
      }
    },
    mounted () {
      this.$rroles = this.$resource('roles{/id}', {}, {
        saverole: { method: 'PATCH', url: 'roles{/id}' }
      }, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rroles.query({alonerole: '1'}).then((response) => {
        this.roles = response.data
      }, (response) => {
        return false
      })
    },
    directives: {
      focus (el, value) {
        if (value) {
          Vue.nextTick(_ => {
            el.focus()
          })
        }
      }
    }
  }
</script>
