<template>
  <div id="users-page">
    <div class="loader" v-if="loading">
      <img src="../../assets/img/loading.svg" alt="loading">
    </div>
    <transition name="fademsg">
      <div class="msg" :class="typemsg" v-if="displaymsg === true">
        <p>{{ msg }}</p>
        <a class="glyphicon glyphicon-remove" @click="closeMsg()"></a>
      </div>
    </transition>
    <h1>Utilisateurs à modérer</h1>
      <table class="table table-condensed" v-if="usersmodere.length !== 0">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Alias</th>
            <th>Email</th>
            <th>Rôle</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="usermodere in usersmodere">
            <td>{{ usermodere.nom }}</td>
            <td>{{ usermodere.prenom }}</td>
            <td>{{ usermodere.alias }}</td>
            <td>{{ usermodere.email }}</td>
            <td>
              <select name="role" v-model="usermodere.role" v-if="roles.length !== 0">
                <option value="None" selected="selected" disabled>Choisir un rôle</option>
                <option v-for="role in roles" :value="role">{{ role.name }}</option>
              </select>
            </td>
            <td><button type="button" class="btn btn-primary" @click="validUser(usermodere)">Accepter</button></td>
          </tr>
        </tbody>
      </table>
    <div v-else>
      <p>Aucun utilisateur à modérer</p>
    </div>
    <h1>Listing des utilisateurs</h1>
    <table class="table table-condensed" v-if="users.length !== 0">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Alias</th>
        <th>Email</th>
        <th>Rôle</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="user in users">
        <td :class="{editing: user === editing && editingValue === 'nom'}">
          <p @dblclick="editUser(user,'nom',user.nom)">{{ user.nom }}</p>
          <input type="text" class="edit" v-model="user.nom" @keyup.enter="saveEdit(user,'nom')"
                 @keyup.esc="cancelEdit('nom')" v-focus="user === editing  && editingValue === 'nom'">
        </td>
        <td :class="{editing: user === editing && editingValue === 'prenom'}">
          <p @dblclick="editUser(user,'prenom',user.prenom)">{{ user.prenom }}</p>
          <input type="text" class="edit" v-model="user.prenom" @keyup.enter="saveEdit(user,'prenom')"
                 @keyup.esc="cancelEdit('prenom')" v-focus="user === editing  && editingValue === 'prenom'">
        </td>
        <td :class="{editing: user === editing && editingValue === 'alias'}">
          <p @dblclick="editUser(user,'alias',user.alias)">{{ user.alias }}</p>
          <input type="text" class="edit" v-model="user.alias" @keyup.enter="saveEdit(user,'alias')"
                 @keyup.esc="cancelEdit('alias')" v-focus="user === editing  && editingValue === 'alias'">
        </td>
        <td>
          <p>{{ user.email }}</p>
        </td>
        <td :class="{editing: user === editing && editingValue === 'role'}">
          <p @dblclick="editUser(user,'role',user.role)">{{ user.role.name }}</p>
          <select class="edit" id="role" name="role" v-model="user.role" @change="saveEdit(user,'role')" @keyup.esc="cancelEdit('role')">
            <option v-for="role in roles" :value="role.id">{{ role.name }}</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-danger" @click="destroy(user)">Supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div v-else>
      <p>Aucun utilisateur</p>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'

  export default{
    data () {
      return {
        users: [],
        usersmodere: [],
        roles: [],
        oldValueUser: '',
        editing: null,
        editingValue: null,
        loading: false,
        roleAttachment: '',
        typemsg: '',
        displaymsg: false,
        msg: ''
      }
    },
    methods: {
      editUser (user, val, fieldValue) {
        this.editing = user
        this.editingValue = val
        this.oldValueUser = fieldValue
      },
      saveEdit (user, field) {
        this.$rusers.saveuser({id: user.id}, {
          [field]: user[field]
        }).then((response) => {
          this.openMsg('success', 'La modification a bien été enregistré')
        }, (response) => {
          this.openMsg('danger', 'Erreur lors de la modification du client')
          return false
        })
        this.doneEdit()
      },
      validUser (usermodere) {
        if (usermodere.role === null) {
          this.openMsg('danger', 'Aucun role attribuer a cette utilisateur')
          return false
        }
        this.$rusers.saveuser({id: usermodere.id, ismodere: 1}, {
          role: usermodere.role.id,
          isValid: true
        }).then((response) => {
          this.openMsg('success', 'L\'utilisateur a bien été valider')
          this.usersmodere = this.usersmodere.filter(u => u !== usermodere)
          this.users.push(response.data)
        }, (response) => {
          this.openMsg('danger', 'Echec de la validation de l\'utilisateur')
          return false
        })
      },
      cancelEdit (field) {
        this.editing[field] = this.oldValueUser
        this.doneEdit()
      },
      doneEdit () {
        this.editing = null
      },
      openMsg (type, msg) {
        this.displaymsg === true ? this.displaymsg = false : ''
        this.displaymsg = true
        this.typemsg = 'bg-' + type
        this.msg = msg
      },
      closeMsg () {
        this.displaymsg = false
      },
      returnDate (dateObject) {
        let timestamp = dateObject.timestamp
        let d = new Date(timestamp * 1000)
        return d
      },
      destroy (user) {
        this.$rusers.saveuser({id: user.id}, {
          'isDelete': 1
        }).then((response) => {
          this.openMsg('success', 'L\' utilisateur ' + user.nom + ' ' + user.prenom + ' a bien été supprimé')
        }, (response) => {
          this.openMsg('danger', 'Erreur lors de la suppression de l\'utilisateur')
          return false
        })
      }
    },
    mounted () {
      this.$rusers = this.$resource('users{/id}', {}, {
        saveuser: { method: 'PATCH', url: 'users{/id}' }
      }, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rroles = this.$resource('roles{/id}', {}, {}, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rusers.query().then((response) => {
        this.users = response.data
      }, (response) => {
        return false
      })
      this.$rusers.query({ismodere: 1}).then((response) => {
        this.usersmodere = response.data
      }, (response) => {
        return false
      })
      this.$rroles.query().then((response) => {
        this.roles = response.data
      }, (response) => {
        return false
      })
    },
    directives: {
      focus (el, value) {
        if (value) {
          Vue.nextTick(_ => {
            el.focus()
          })
        }
      }
    }
  }
</script>
