<template>
  <div id="clients-page">
    <div class="loader" v-if="loading">
      <img src="../../assets/img/loading.svg" alt="loading">
    </div>
    <transition name="fademsg">
      <div class="msg" :class="typemsg" v-if="displaymsg === true">
        <p>{{ msg }}</p>
        <a class="glyphicon glyphicon-remove" @click="closeMsg()"></a>
      </div>
    </transition>
    <h1>Ajout d'un client</h1>
    <div class="add-client">
      <input id="newName" type="text" name="name" v-model="newName">
      <button type="button" class="btn btn-primary" @click="createClient()">Ajouter le client</button>
    </div>
    <h1>Listing des clients</h1>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="client in clients">
          <td :class="{editing: client === editing && editingValue === 'name'}">
            <p @dblclick="editClient(client,'name',client.name)">{{ client.name }}</p>
            <input type="text" class="edit" v-model="client.name" @keyup.enter="saveEdit(client,'name')" @keyup.esc="cancelEdit('name')" v-focus="client === editing  && editingValue === 'name'">
          </td>
          <td>
            <button type="button" class="btn btn-danger" @click="destroy(client)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Vue from 'vue'

export default{
  data () {
    return {
      clients: [],
      oldValueClient: '',
      editing: null,
      editingValue: null,
      loading: false,
      newName: '',
      typemsg: '',
      displaymsg: false,
      msg: ''
    }
  },
  methods: {
    createClient () {
      this.$rclients.save({}, {name: this.newName}).then((response) => {
        this.clients.push(response.data)
        this.openMsg('success', 'Le client ' + response.data.name + ' a bien été ajouté')
      }, (response) => {
        this.openMsg('danger', 'Erreur lors de l\'ajout du client')
        return false
      })
      this.newName = ''
    },
    editClient (client, val, fieldValue) {
      this.editing = client
      this.editingValue = val
      this.oldValueClient = fieldValue
    },
    saveEdit (client, field) {
      this.$rclients.saveclient({id: client.id}, {
        [field]: client[field]
      }).then((response) => {
        this.openMsg('success', 'La modification a bien été enregistré')
      }, (response) => {
        this.openMsg('danger', 'Erreur lors de la modification du client')
        return false
      })
      this.doneEdit()
    },
    cancelEdit (field) {
      this.editing[field] = this.oldValueUser
      this.doneEdit()
    },
    doneEdit () {
      this.editing = null
    },
    openMsg (type, msg) {
      this.displaymsg === true ? this.displaymsg = false : ''
      this.displaymsg = true
      this.typemsg = 'bg-' + type
      this.msg = msg
    },
    closeMsg () {
      this.displaymsg = false
    },
    returnDate (dateObject) {
      let timestamp = dateObject.timestamp
      let d = new Date(timestamp * 1000)
      return d
    },
    destroy (client) {
      // this.$rclients.remove({id: client.id}).then((response) => {
        // this.clients = this.clients.filter(c => c !== client)
        // this.openMsg('success', 'Le client ' + client.name + ' a bien été supprimé')
      // }, (response) => {
        // this.openMsg('danger', 'Erreur lors de la suppression du client')
        // return false
      // })
      this.$rclients.saveclient({id: client.id}, {
        'isDelete': 1
      }).then((response) => {
        this.clients = this.clients.filter(c => c !== client)
        this.openMsg('success', 'La suppréssion a bien été effectué')
      }, (response) => {
        this.openMsg('danger', 'Erreur lors de la suppression du client')
        return false
      })
    }
  },
  mounted () {
    this.$rclients = this.$resource('clients{/id}', {}, {
      saveclient: { method: 'PATCH', url: 'clients{/id}' }
    }, {
      before: () => { this.loading = true },
      after: () => { this.loading = false }
    })
    this.$rclients.query({aloneclient: '1'}).then((response) => {
      this.clients = response.data
    }, (response) => {
      return false
    })
  },
  directives: {
    focus (el, value) {
      if (value) {
        Vue.nextTick(_ => {
          el.focus()
        })
      }
    }
  }
}
</script>
