#auth-page{
    .border-h1{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        margin: 20px auto 50px;
        width: 30%;
    }
    .bloc-auth{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        padding: 0;
        margin: 0;
        .auth-form, .create-user-form{
            margin: 0 10px;
            border: 1px solid #000000;
            padding: 20px;
            input, button{
                display: block;
                width: 250px;
                margin: 10px 0;
            }
        }
        .auth-form{

        }
        .create-user-form{

        }
    }
}