#plannings-page{
    position: relative;
    .bloc-plannings, .bloc-planning{
        position: absolute;
        float: left;
        width: 100%;
    }
}

#planning-show-page{
    .task-card {
        margin: 25px 0;
        display: flex;
        flex-wrap: wrap;
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            border-radius: 5px; /* 5px rounded corners */
            position: relative;
            margin: 10px 10px;
        }
        .popup-card {
            padding: 10px 30px;
            h4 {
                text-align: center;
            }
            &:hover, &:focus {
                box-shadow: 0 1px 0 rgba(255, 255, 255, .4);
                span {
                    transform: scale(1) rotate(0);
                    opacity: 1;
                }
            }
            span {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                color: #000000;
                background: rgba(255, 255, 255, .9);
                padding: 15px;
                border-color: #000000;
                border-radius: 3px;
                box-shadow: 0 0 2px rgba(0, 0, 0, .5);
                transform: scale(0) rotate(-12deg);
                transition: all .25s;
                opacity: 0;
            }
        }
    }
}