<template>
  <div id="planning-show-page">
    <div class="loader" v-if="loading">
      <img src="../../assets/img/loading.svg" alt="loading">
    </div>
    <transition name="fademsg">
      <div class="msg" :class="typemsg" v-if="displaymsg === true">
        <p>{{ msg }}</p>
        <a class="glyphicon glyphicon-remove" @click="closeMsg()"></a>
      </div>
    </transition>
    <h1>Planning de la {{ planning.name }}</h1>
    <select id="filteruser" name="filteruser" v-model="filteruser">
      <option value="all">Tous</option>
      <option v-for="user in users" :value="user.alias">{{ user.alias }}</option>
    </select>
    <div class="task-card" v-if="filterPlanning !== 0">
      <div class="card" v-for="filter in filterPlanning">
        <div class="popup-card" @click="modifyInformationTask(filter)">
          <h4><b>{{ filter.client.name }}</b></h4>
          <p>{{ filter.codeAffaire.codeGs }} / {{ filter.codeAffaire.codeDg }}</p>
          <p>{{ filter.name }}</p>
          <p>{{ filter.time }}</p>
          <span>
            <p>{{ filter.description }}</p>
            <p>CPD : {{ filter.cdp.alias }}</p>
            <p>LEAD : {{ filter.lead.alias }}</p>
            <p>EXE : {{ filter.exe.alias }}</p>
            <p>DB* : {{ filter.dateBrief }}</p>
            <p>DLT* : {{ filter.dateLivraisonTest }}</p>
            <p>DL* : {{ filter.dateLivraison }}</p>
          </span>
        </div>
      </div>
    </div>
    <div v-else>
      <p>Aucune taches prévu cette semaine</p>
    </div>
    <div class="block-information" v-if="informationTask !== null">
      <textarea v-model="informationTask.comment" placeholder="placer un commentaire ici">{{ informationTask.comment }}</textarea>
      <input v-model="informationTask.realTime" :value="informationTask.realTime"/>
      <button type="button" class="btn btn-primary" @click="editTache(informationTask)">Sauvegarder</button>
    </div>
    <p>
      <i>* DLT : Date Livraison Test</i><br/>
      <i>* DL : Date Livraison</i><br/>
      <i>* DB : Date Briefing</i>
    </p>
  </div>
</template>

<script>
  export default{
    data () {
      return {
        planning: [],
        users: [],
        filteruser: 'all',
        loading: false,
        typemsg: '',
        displaymsg: false,
        msg: '',
        informationTask: null
      }
    },
    methods: {
      openMsg (type, msg) {
        this.displaymsg === true ? this.displaymsg = false : ''
        this.displaymsg = true
        this.typemsg = 'bg-' + type
        this.msg = msg
      },
      closeMsg () {
        this.displaymsg = false
      },
      modifyInformationTask (filter) {
        if (sessionStorage.AuthUserRole === 'Planning Manager' || sessionStorage.AuthUserAlias === filter.exe.alias) {
          this.informationTask = filter
        }
      },
      editTache (informationTask) {
        // Sauve le commentaire et le temps reel en base
        this.$rtaches.savetache({id: informationTask.id}, {
          'comment': informationTask.comment,
          'realTime': informationTask.realTime
        }).then((response) => {
          this.openMsg('success', 'La modification a bien été enregistré')
        }, (response) => {
          this.openMsg('danger', 'Erreur lors de la modification de la tache')
          return false
        })
        this.informationTask = null
      }
    },
    mounted () {
      this.$rplannings = this.$resource('plannings{/id}', {}, {}, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rusers = this.$resource('users{/id}', {}, {}, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rtaches = this.$resource('taches{/id}', {}, {
        savetache: {method: 'PATCH', url: 'taches{/id}'}
      }, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rplannings.query({currentplanning: '1'}).then((response) => {
        this.planning = response.data
      }, (response) => {
        return false
      })
      this.$rusers.query({aloneuser: '1'}).then((response) => {
        this.users = response.data
      }, (response) => {
        return false
      })
      this.filteruser = (sessionStorage.AuthUserAlias === 'ADM') ? 'all' : sessionStorage.AuthUserAlias
    },
    computed: {
      filterPlanning () {
        if (this.filteruser !== 'all') {
          return this.planning.taches.filter(t => (t.exe.alias === this.filteruser ||
              t.lead.alias === this.filteruser ||
              t.cdp.alias === this.filteruser))
        }
        return this.planning.taches
      }
    }
  }
</script>
