<template>
  <div id="plannings-page">
    <div class="loader" v-if="loading">
    <img src="../../assets/img/loading.svg" alt="loading">
  </div>
    <transition name="fademsg">
      <div class="msg" :class="typemsg" v-if="displaymsg === true">
        <p>{{ msg }}</p>
        <a class="glyphicon glyphicon-remove" @click="closeMsg()"></a>
      </div>
    </transition>
    <transition name="transplanning">
      <div class="bloc-plannings" v-if="displayAllPlannings === true">
        <h1>Listing des plannings</h1>
        <table class="table table-condensed">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="planning in plannings">
            <td>
              <p>{{ planning.id }}</p>
            </td>
            <td>
              <p>{{ planning.name }}</p>
            </td>
            <td>
              <button type="button" class="btn btn-primary" @click="modify(planning)">Editer</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </transition>
    <transition name="transplanning">
      <div class="bloc-planning" v-if="displayAllPlannings === false">
        <div class="return-plannings">
          <button type="button" class="btn btn-primary" @click="returnPlanning()">Retour a la liste des plannings</button>
        </div>
        <h1>Ajout d'une tache</h1>
        <div class="add-tache">
          <select id="clientAttachment" name="client" @change="getCodeAffaire(clientAttachment)" v-model="clientAttachment">
            <option v-for="client in clients" :value="client.id">{{ client.name }}</option>
          </select>
          <select id="codeAffaireAttachment" name="codeAffaire" v-model="codeAffaireAttachment" v-if="codeAffaires.length !== 0">
            <option v-for="codeAffaire in codeAffaires" :value="codeAffaire.id">{{ codeAffaire.codeGs }} / {{ codeAffaire.codeDg }}</option>
          </select>
          <select v-else>
            <option disabled selected="selected">Aucun code pour ce client</option>
          </select>
          <input id="newName" type="text" name="name" v-model="newName">
          <input id="newDescription" type="text" name="description" v-model="newDescription">
          <select id="cdpAttachment" name="cdp" v-model="cdpAttachment">
            <option v-for="user in users" :value="user.id">{{ user.alias }}</option>
          </select>
          <select id="leadAttachment" name="lead" v-model="leadAttachment">
            <option v-for="user in users" :value="user.id">{{ user.alias }}</option>
          </select>
          <select id="exeAttachment" name="exe" v-model="exeAttachment">
            <option v-for="user in users" :value="user.id">{{ user.alias }}</option>
          </select>
          <datepicker language="fr" format="dd/MM/yyyy" id="newDateBrief" class="datepicker" type="text"
                      name="description" v-model="newDateBrief"></datepicker>
          <datepicker language="fr" format="dd/MM/yyyy" id="newDateLivraisonTest" class="datepicker" type="text"
                      name="description" v-model="newDateLivraisonTest"></datepicker>
          <datepicker language="fr" format="dd/MM/yyyy" id="newDateLivraison" class="datepicker" type="text"
                      name="description" v-model="newDateLivraison"></datepicker>
          <input id="newTime" type="text" name="time" v-model="newTime">
          <button type="button" class="btn btn-primary" @click="createTache()">Ajouter la tache</button>
        </div>
        <h1>Planning de la {{ currentPlanning.name }}</h1>
        <table class="table table-condensed" v-if="currentPlanning.taches.length !== 0">
          <thead>
          <tr>
            <th>Client</th>
            <th>CA*</th>
            <th>Name</th>
            <th>Description</th>
            <th>CDP</th>
            <th>LEAD</th>
            <th>EXE</th>
            <th>DB*</th>
            <th>DLT*</th>
            <th>DL*</th>
            <th>Temps</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="tache in currentPlanning.taches">
            <td>
              <p>{{ tache.client.name }}</p>
            </td>
            <td :class="{editing: tache === editing && editingValue === 'codeAffaire'}">
              <p @dblclick="editTache(tache,'codeAffaire',tache.codeAffaire)">{{ tache.codeAffaire.codeGs }} / {{ tache.codeAffaire.codeDg }}</p>
              <select id="codeAffaire" class="edit" name="codeAffaire" v-model="tache.codeAffaire" @change="saveEdit(tache, 'codeAffaire')" @keyup.esc="cancelEdit('codeAffaire')">
                <option v-for="codeAffaire in codeAffaires" :value="codeAffaire">{{ codeAffaire.codeGs }} / {{ codeAffaire.codeDg }}</option>
              </select>
            </td>
            <td :class="{editing: tache === editing && editingValue === 'name'}">
              <p @dblclick="editTache(tache,'name',tache.name)">{{ tache.name }}</p>
              <input type="text" class="edit" v-model="tache.name" @keyup.enter="saveEdit(tache,'name')"
                     @keyup.esc="cancelEdit('name')" v-focus="tache === editing  && editingValue === 'name'">
            </td>
            <td :class="{editing: tache === editing && editingValue === 'description'}">
              <p @dblclick="editTache(tache,'description',tache.description)">{{ tache.description }}</p>
              <input type="text" class="edit" v-model="tache.description" @keyup.enter="saveEdit(tache,'description')"
                     @keyup.esc="cancelEdit('description')" v-focus="tache === editing  && editingValue === 'description'">
            </td>
            <td :class="{editing: tache === editing && editingValue === 'cdp'}">
              <p @dblclick="editTache(tache,'cdp',tache.cdp)">{{ tache.cdp.alias }}</p>
              <select id="cdp" class="edit" name="cdp" v-model="tache.cdp" @change="saveEdit(tache,'cdp')" @keyup.esc="cancelEdit('cdp')">
                <option v-for="user in users" :value="user">{{ user.alias }}</option>
              </select>
            </td>
            <td :class="{editing: tache === editing && editingValue === 'lead'}">
              <p @dblclick="editTache(tache,'lead',tache.lead)">{{ tache.lead.alias }}</p>
              <select id="lead" class="edit" name="lead" v-model="tache.lead" @change="saveEdit(tache,'lead')" @keyup.esc="cancelEdit('lead')">
                <option v-for="user in users" :value="user">{{ user.alias }}</option>
              </select>
            </td>
            <td :class="{editing: tache === editing && editingValue === 'exe'}">
              <p @dblclick="editTache(tache,'exe',tache.exe)">{{ tache.exe.alias }}</p>
              <select id="exe" class="edit" name="exe" v-model="tache.exe" @change="saveEdit(tache,'exe')" @keyup.esc="cancelEdit('exe')">
                <option v-for="user in users" :value="user">{{ user.alias }}</option>
              </select>
            </td>
            <td>
              <p>{{ tache.dateBrief }}</p>
            </td>
            <td>
              <p>{{ tache.dateLivraisonTest }}</p>
            </td>
            <td>
              <p>{{ tache.dateLivraison }}</p>
            </td>
            <td>
              <p>{{ tache.time }}</p>
            </td>
            <!--<td :class="{editing: tache === editing && editingValue === 'dateBrief'}">
              <p @dblclick="editTache(tache,'dateBrief',tache.dateBrief)">{{ tache.dateBrief }}</p>
              <datepicker language="fr" format="dd/MM/yyyy" id="dateBrief" class="edit datepicker" type="text"
                          name="description" v-focus="tache === editing  && editingValue === 'dateBrief'"
                          v-model="tache.dateBrief" @keyup.esc="cancelEdit('dateBrief')" @keyup.enter="saveEdit(tache,'dateBrief')"></datepicker>
            </td>
            <td :class="{editing: tache === editing && editingValue === 'dateLivraisonTest'}">
              <p @dblclick="editTache(tache,'dateLivraisonTest',tache.dateLivraisonTest)">{{ tache.dateLivraisonTest }}</p>
              <input type="text" class="edit" v-model="tache.dateLivraisonTest" @keyup.enter="saveEdit(tache,'dateLivraisonTest')"
                     @keyup.esc="cancelEdit('dateLivraisonTest')" v-focus="tache === editing  && editingValue === 'dateLivraisonTest'">
            </td>
            <td :class="{editing: tache === editing && editingValue === 'dateLivraison'}">
              <p @dblclick="editTache(tache,'dateLivraison',tache.dateLivraison)">{{ tache.dateLivraison }}</p>
              <input type="text" class="edit" v-model="tache.dateLivraison" @keyup.enter="saveEdit(tache,'dateLivraison')"
                     @keyup.esc="cancelEdit('dateLivraison')" v-focus="tache === editing  && editingValue === 'dateLivraison'">
            </td>-->
            <td>
              <button type="button" class="btn btn-danger" @click="destroy(tache)">Supprimer</button>
            </td>
          </tr>
          </tbody>
        </table>
        <div v-else>
          <p>Aucune tache pour ce planning</p>
        </div>
        <p>
          <i>* CA : Code Affaire</i><br/>
          <i>* DLT : Date Livraison Test</i><br/>
          <i>* DL : Date Livraison</i><br/>
          <i>* DB : Date Briefing</i>
        </p>
      </div>
    </transition>
  </div>
</template>

<script>
  import Vue from 'vue'

  export default{
    data () {
      return {
        plannings: [],
        clients: [],
        codeAffaires: [],
        users: [],
        currentPlanning: null,
        oldValueTache: '',
        editing: null,
        editingValue: null,
        clientAttachment: null,
        codeAffaireAttachment: null,
        newName: null,
        newDescription: null,
        cdpAttachment: null,
        leadAttachment: null,
        exeAttachment: null,
        newDateBrief: null,
        newDateLivraisonTest: null,
        newDateLivraison: null,
        newTime: null,
        loading: false,
        typemsg: '',
        displaymsg: false,
        msg: '',
        displayAllPlannings: true
      }
    },
    methods: {
      createTache () {
        this.$rtaches.save({}, {
          client: this.clientAttachment,
          codeAffaire: this.codeAffaireAttachment,
          name: this.newName,
          description: this.newDescription,
          cdp: this.cdpAttachment,
          lead: this.leadAttachment,
          exe: this.exeAttachment,
          dateBrief: this.newDateBrief,
          dateLivraisonTest: this.newDateLivraisonTest,
          dateLivraison: this.newDateLivraison,
          time: this.newTime,
          planning: this.currentPlanning.id
        }).then((response) => {
          this.currentPlanning.taches.push(response.data)
          this.openMsg('success', 'La tâche a bien été ajouté')
        }, (response) => {
          this.openMsg('danger', 'Erreur lors de l\'ajout de la tâche')
          return false
        })
        this.clientAttachment = null
        this.codeAffaireAttachment = null
        this.newName = null
        this.newDescription = null
        this.cdpAttachment = null
        this.leadAttachment = null
        this.exeAttachment = null
        this.newDateBrief = null
        this.newDateLivraisonTest = null
        this.newDateLivraison = null
        this.newTime = null
      },
      editTache (tache, val, fieldValue) {
        this.editing = tache
        this.editingValue = val
        this.oldValueTache = fieldValue
      },
      saveEdit (tache, field) {
        if (field === 'cdp' || field === 'lead' || field === 'exe' || field === 'codeAffaire') {
          this.$rtaches.savetache({id: tache.id}, {
            [field]: tache[field].id
          }).then((response) => {
            this.openMsg('success', 'La modification a bien été enregistré')
          }, (response) => {
            this.openMsg('danger', 'Erreur lors de la modification du planning')
            return false
          })
        } else {
          this.$rtaches.savetache({id: tache.id}, {
            [field]: tache[field]
          }).then((response) => {
            this.openMsg('success', 'La modification a bien été enregistré')
          }, (response) => {
            this.openMsg('danger', 'Erreur lors de la modification du planning')
            return false
          })
        }
        this.doneEdit()
      },
      getCodeAffaire (clientId) {
        console.log(this.clientAttachment)
        console.log(clientId)
        if (clientId !== undefined && clientId !== null) {
          this.codeAffaires = []
          this.$rcodeaffaires.query({client_id: clientId}).then((response) => {
            this.codeAffaires = response.data
          }, (response) => {
            return false
          })
        }
      },
      cancelEdit (field) {
        this.editing[field] = this.oldValueUser
        this.doneEdit()
      },
      doneEdit () {
        this.editing = null
      },
      openMsg (type, msg) {
        this.displaymsg === true ? this.displaymsg = false : ''
        this.displaymsg = true
        this.typemsg = 'bg-' + type
        this.msg = msg
      },
      closeMsg () {
        this.displaymsg = false
      },
      returnDate (dateObject) {
        let timestamp = dateObject.timestamp
        let d = new Date(timestamp * 1000)
        return d
      },
      modify (planning) {
        this.currentPlanning = planning
        this.$rtaches.query({planning_id: planning.id}).then((response) => {
          this.currentPlanning.taches = response.data
          this.displayAllPlannings = false
        }, (response) => {
          return false
        })
      },
      returnPlanning () {
        this.currentPlanning = null
        this.displayAllPlannings = true
      },
      destroy (tache) {
        this.$rtaches.remove({id: tache.id}).then((response) => {
          this.currentPlanning.taches = this.currentPlanning.taches.filter(t => t !== tache)
          this.openMsg('success', 'La tache a bien été supprimé')
        }, (response) => {
          this.openMsg('danger', 'Erreur lors de la suppression du planning')
          return false
        })
      }
    },
    mounted () {
      this.$rtaches = this.$resource('taches{/id}', {}, {
        savetache: {method: 'PATCH', url: 'taches{/id}'}
      }, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rcodeaffaires = this.$resource('code-affaires{/id}', {}, {}, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rclients = this.$resource('clients{/id}', {}, {}, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rusers = this.$resource('users{/id}', {}, {}, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rplannings = this.$resource('plannings{/id}', {}, {}, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rplannings.query({aloneplanning: '1'}).then((response) => {
        this.plannings = response.data
      }, (response) => {
        return false
      })
      this.$rusers.query({aloneuser: '1'}).then((response) => {
        this.users = response.data
      }, (response) => {
        return false
      })
      this.$rclients.query({aloneclient: '1'}).then((response) => {
        this.clients = response.data
      }, (response) => {
        return false
      })
    },
    directives: {
      focus (el, value) {
        if (value) {
          Vue.nextTick(_ => {
            el.focus()
          })
        }
      }
    }
  }
</script>
