<template>
  <div id="auth-page">
    <div class="loader" v-if="loading">
      <img src="../assets/img/loading.svg" alt="loading">
    </div>
    <transition name="fademsg">
      <div class="msg" :class="typemsg" v-if="displaymsg === true">
        <p>{{ msg }}</p>
        <a class="glyphicon glyphicon-remove" @click="closeMsg()"></a>
      </div>
    </transition>
    <div class="border-h1">
      <h1>Dashboard<br/>Digital Garden</h1>
    </div>
    <div class="bloc-auth">
      <div class="auth-form">
        <input id="authLogin" type="email" name="authLogin" placeholder="Email" v-model="authLogin">
        <input id="authPwd" type="password" name="authPwd" placeholder="Password" v-model="authPwd">
        <button type="button" class="btn btn-primary" @click="authentificateUser()">Connexion</button>
      </div>
      <div class="create-user-form">
        <input id="userFirstname" type="text" name="userFirstname" placeholder="Nom" v-model="userFirstname">
        <input id="userLastname" type="text" name="userLastname" placeholder="Prenom" v-model="userLastname">
        <input id="userAlias" type="text" name="userAlias" placeholder="Alias" v-model="userAlias">
        <input id="userEmail" type="email" name="userEmail" placeholder="Email" v-model="userEmail">
        <input id="userPassword" type="password" name="userPassword" placeholder="Password" v-model="userPassword">
        <input id="userPasswordAgain" type="password" name="userPasswordAgain" placeholder="Password (vérification)" v-model="userPasswordAgain">
        <button type="button" class="btn btn-primary" @click="createUser()">S'enregistrer</button>
      </div>
    </div>
  </div>
</template>

<script>
  export default{
    data () {
      return {
        authLogin: null,
        authPwd: null,
        userFirstname: null,
        userLastname: null,
        userAlias: null,
        userEmail: null,
        userPassword: null,
        userPasswordAgain: null,
        loading: false,
        typemsg: '',
        displaymsg: false,
        msg: ''
      }
    },
    methods: {
      createUser () {
        if (this.userPassword !== this.userPasswordAgain) {
          this.openMsg('danger', 'les mots de passe entrée ne sont pas identique')
          return false
        }
        this.$rusers.save({}, {
          nom: this.userFirstname,
          prenom: this.userLastname,
          alias: this.userAlias,
          email: this.userEmail,
          plainPassword: this.userPassword
        }).then((response) => {
          this.openMsg('success', 'Inscription réussit, un administrateur acceptera bientôt votre demande')
        }, (response) => {
          this.openMsg('danger', 'Erreur lors de l\'inscription')
          return false
        })
        this.userFirstname = ''
        this.userLastname = ''
        this.userAlias = ''
        this.userEmail = ''
        this.userPassword = ''
        this.userPasswordAgain = ''
      },
      authentificateUser () {
        this.$rauth.save({}, {
          login: this.authLogin,
          password: this.authPwd
        }).then((response) => {
          console.log(response.data)
          sessionStorage.AuthToken = response.data.value
          sessionStorage.IdAuthToken = response.data.id
          sessionStorage.AuthUserId = response.data.user.id
          sessionStorage.AuthUserAlias = response.data.user.alias
          sessionStorage.AuthUserEmail = response.data.user.email
          sessionStorage.AuthUserRole = response.data.user.role.name
          window.location.replace('/')
        }, (response) => {
          this.openMsg('danger', 'Authentification failed')
          return false
        })
      },
      openMsg (type, msg) {
        this.displaymsg === true ? this.displaymsg = false : ''
        this.displaymsg = true
        this.typemsg = 'bg-' + type
        this.msg = msg
      },
      closeMsg () {
        this.displaymsg = false
      }
    },
    mounted () {
      this.$rusers = this.$resource('users{/id}', {}, {}, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rauth = this.$resource('auth-tokens{/id}', {}, {}, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
    }
  }
</script>
