<template>
  <div id="homepage-page page-content-wrapper">
    <div class="loader" v-if="loading">
      <img src="../assets/img/loading.svg" alt="loading">
    </div>
    <transition name="fademsg">
      <div class="msg" :class="typemsg" v-if="displaymsg === true">
        <p>{{ msg }}</p>
        <a class="glyphicon glyphicon-remove" @click="closeMsg()"></a>
      </div>
    </transition>
    <h1>Bienvenue {{ user.prenom }} {{ user.nom }}</h1>
  </div>
</template>

<script>
  // import jQuery from 'jquery'

  export default{
    data () {
      return {
        user: '',
        loading: false,
        typemsg: '',
        displaymsg: false,
        msg: ''
      }
    },
    methods: {
      openMsg (type, msg) {
        this.displaymsg === true ? this.displaymsg = false : ''
        this.displaymsg = true
        this.typemsg = 'bg-' + type
        this.msg = msg
      },
      closeMsg () {
        this.displaymsg = false
      }
    },
    mounted () {
      this.$rusers = this.$resource('users{/id}', {}, {}, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rusers.get({id: sessionStorage.AuthUserId}).then((response) => {
        this.user = response.data
      }, (response) => {
        return false
      })
    }
  }
</script>
