<template>
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <img alt="Brand" src="../assets/img/logo.png" width="60">
      </li>
      <div v-if="logged">
        <li>
          <router-link :to="{name: 'Homepage'}" class="title-navbar">Accueil</router-link>
        </li>
        <li v-if="allowedAccess('Administrateur')">
          <router-link :to="{name: 'Clients'}" class="title-navbar">Gestion des Clients</router-link>
        </li>
        <li v-if="allowedAccess('Administrateur')">
          <router-link :to="{name: 'CodeAffaires'}" class="title-navbar">Gestion des Code Affaires</router-link>
        </li>
        <li v-if="allowedAccess('level-1')">
          <router-link :to="{name: 'Plannings'}" class="title-navbar">Gestion du Planning</router-link>
        </li>
        <li v-if="allowedAccess('Administrateur')">
          <router-link :to="{name: 'Utilisateurs'}" class="title-navbar">Gestion des Utilisateurs</router-link>
        </li>
        <li v-if="allowedAccess('Administrateur')">
          <router-link :to="{name: 'Roles'}" class="title-navbar">Gestion des Roles</router-link>
        </li>
        <li v-if="allowedAccess('level-2')">
          <router-link :to="{name: 'PlanningShow'}" class="title-navbar">Planning</router-link>
        </li>
        <li v-if="allowedAccess('level-2')">
          <router-link :to="{name: 'Historique'}" class="title-navbar">Historique</router-link>
        </li>
        <li>
          <a href="javascript:;" @click="logout()" class="title-navbar">Déconnexion</a>
        </li>
      </div>
    </ul>
  </div>
</template>

<script>
  // import jQuery from 'jquery'

  export default{
    data () {
      return {
        logged: false,
        role: ''
      }
    },
    methods: {
      allowedAccess (permission) {
        if (permission === 'Administrateur') {
          if (this.role === 'Administrateur') {
            return 1
          }
        }
        if (permission === 'level-1') {
          if (this.role === 'Administrateur' || this.role === 'Planning Manager') {
            return 1
          }
        }
        if (permission === 'level-2') {
          if (this.role === 'Administrateur' || this.role === 'Planning Manager' ||
              this.role === 'Développeur' || this.role === 'Chef de projet') {
            return 1
          }
        }
        return 0
      },
      logout () {
        this.$rauth.remove({id: sessionStorage.IdAuthToken}).then((response) => {
          sessionStorage.clear()
          window.location.replace('/connexion')
        }, (response) => {
          return false
        })
      }
    },
    mounted () {
      this.$rauth = this.$resource('auth-tokens{/id}', {}, {}, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      if (sessionStorage.AuthToken !== undefined) {
        this.logged = true
      }
      if (sessionStorage.AuthUserRole !== undefined) {
        this.role = sessionStorage.AuthUserRole
      }
    }
  }
</script>
