body {
    overflow-x: hidden;
}

h1{
    text-align: center;
    margin: 20px 0;
    width: auto;
}

/* Editing field */
.editing{
    p{
        display: none;
    }
    .edit{
        display: block;
    }
}
.edit{
    display: none;
}
/* Loader ressource */
.loader{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
        transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    }
}
/* Style message */
.msg{
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    a.glyphicon{
        position: absolute;
        right: 8px;
        top: -6px;
        text-decoration: none;
        color: #000000;
        cursor: pointer;
    }
}
/* Style add data */
.datepicker{
    display: inline-block;
}

/* Animation message */
.fademsg-enter-active, .fademsg-leave-active{
    transition: opacity 1s, transform 1s;
}
.fademsg-enter, .fademsg-leave-active{
    opacity: 0;
}

/* Animation planning */
.transplanning-enter-active, .transplanning-leave-active{
    transition: opacity 1s, transform 1s;
    transform: translate(-150%,0)
}
.transplanning-enter, .transplanning-leave-active{
    opacity: 0;
}
