/* Sidebar Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.toggled {
        padding-left: 200px;
        #sidebar-wrapper {
            width: 200px;
        }
        #page-content-wrapper {
            position: absolute;
            margin-right: -200px;
        }
    }
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        text-indent: 20px;
        line-height: 40px;
        a {
            display: block;
            text-decoration: none;
            color: #999999;
            &:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255,255,255,0.2);
            }
            &:active, &:focus {
                text-decoration: none;
            }
        }
    }
    > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
        a {
            color: #999999;
            &:hover {
                color: #fff;
                background: none;
            }
        }
    }
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 200px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 200px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Button menu style */
#menu-open-close{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    position: relative;
    border-top: 3px solid #000;
    border-color:#000;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    top: 0;
}

#menu-open-close:after, #menu-open-close:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    border-top: 3px solid #000;
    left: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

#menu-open-close:after {
    top: 6px;
}

#menu-open-close:before {
    top: 15px;
}

#menu-open-close.open {
    border: 3px solid #000;
    border-radius: 50%;
    top: -8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#menu-open-close.open:before,#menu-open-close.open:after{
    top: 10px;
    left: 3px;
    width: 80%;
}

#menu-open-close.open:after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

}

#menu-open-close.open:before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
