<template>
  <div id="planning-show-page">
    <div class="loader" v-if="loading">
      <img src="../../assets/img/loading.svg" alt="loading">
    </div>
    <transition name="fademsg">
      <div class="msg" :class="typemsg" v-if="displaymsg === true">
        <p>{{ msg }}</p>
        <a class="glyphicon glyphicon-remove" @click="closeMsg()"></a>
      </div>
    </transition>
    <h1>Log</h1>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Description</th>
        <th>Utilisateur</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
        <tr v-for="h in history">
          <td>{{ h.description }}</td>
          <td>{{ h.user.nom }} {{ h.user.prenom }}</td>
          <td>{{ returnDate(h.dateCreate) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  export default{
    data () {
      return {
        history: [],
        loading: false,
        typemsg: '',
        displaymsg: false,
        msg: ''
      }
    },
    methods: {
      openMsg (type, msg) {
        this.displaymsg === true ? this.displaymsg = false : ''
        this.displaymsg = true
        this.typemsg = 'bg-' + type
        this.msg = msg
      },
      returnDate (dateObject) {
        let timestamp = dateObject.timestamp
        let d = new Date(timestamp * 1000)
        return d
      },
      closeMsg () {
        this.displaymsg = false
      }
    },
    mounted () {
      this.$rhistory = this.$resource('history', {}, {}, {
        before: () => { this.loading = true },
        after: () => { this.loading = false }
      })
      this.$rhistory.query().then((response) => {
        this.history = response.data
      }, (response) => {
        return false
      })
    }
  }
</script>
