<style src="./assets/scss/style.scss" lang="scss"></style>

<template>
  <div id="app">
    <div id="wrapper">
      <navbar></navbar>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <a href="#" id="menu-open-close"></a>
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import jQuery from 'jquery'

  export default {
    mounted () {
      jQuery('#menu-open-close').click(function (e) {
        e.preventDefault()
        jQuery('#wrapper').toggleClass('toggled')
        jQuery('#menu-open-close').toggleClass('open')
      })
    }
  }
</script>

